# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

version: 2
updates:

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "America/Los_Angeles"

  - package-ecosystem: "docker"
    directory: "/api"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "America/Los_Angeles"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "America/Los_Angeles"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "America/Los_Angeles"
    groups:
      actions-deps:
        patterns:
          - "*"
