# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 Open Networking Foundation
name: golangci-lint
on: [push, pull_request]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: latest
          working-directory: pkg/pfcpsim
          args: -v --config ../../.golangci.yml