# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 Open Networking Foundation

name: Publish pfcpsim
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      DOCKER_REPO: 'opennetworking/pfcpsim'

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v2

      - name: Read version file
        id: get_version
        uses: andstor/file-reader-action@v1
        with:
          path: ./VERSION

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build with Docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_REPO }}:-${{ steps.get_version.outputs.contents }}
            ${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_REPO }}:${GITHUB_SHA::7}
          target: 'pfcpsim'
