# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 Open Networking Foundation

name: Build PFCPsim
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      DOCKER_REPO: 'opennetworking/pfcpsim'

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v2

      - name: Read version file
        id: get_version
        uses: andstor/file-reader-action@v1
        with:
          path: ./VERSION

      - name: Build with Docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          load: true
          tags: '${{ env.DOCKER_REPO }}:pfcpsimctl-${{ steps.get_version.outputs.contents }}' # Local Runtime image
          target: 'pfcpsimctl'

      - name: Build pfcpsim server
          uses: docker/build-push-action@v2
          with:
            context: .
            push: false
            load: true
            tags: '${{ env.DOCKER_REPO }}:pfcpsim-${{ steps.get_version.outputs.contents }}' # Local Runtime image
            target: 'pfcpsim'
