# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-present Open Networking Foundation

name: Publish pfcpsim
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      DOCKER_REPO: 'opennetworking/pfcpsim'

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v2

      - name: Read version file
        run: echo VERSION=$(cat ./VERSION) >> $GITHUB_ENV

      - name: Build protobuf
        id: check
        run: |
          make build-proto
          echo "::set-output name=PORCELAIN::`git status --porcelain`"
      # Verify that protobuf is in sync with changes
      - name: Check protobuf is sync
        if: ${{ steps.check.outputs.PORCELAIN != '' }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Please run make build-proto and commit changes to compiled protobuf')

      - name: Login to DockerHub
        uses: docker/login-action@v1
        # perform login only on main branch
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get short SHA
        run: echo GIT_SHA_SHORT=$(git rev-parse --short HEAD) >> $GITHUB_ENV

      - name: Build with Docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          load: true
          tags: |
            ${{ env.DOCKER_REPO }}:${{ env.VERSION }}
            ${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_REPO }}:${{ env.GIT_SHA_SHORT }}
          target: 'pfcpsim'

      - name: Test docker build
        run: |
          docker run --rm ${{ env.DOCKER_REPO }}:latest --help
          docker run --rm --entrypoint pfcpctl ${{ env.DOCKER_REPO }}:latest --help

      - name: Push to registry
        uses: docker/build-push-action@v2
        with:
          context: .
          # build on feature branches, push only on main branch
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ${{ env.DOCKER_REPO }}:${{ env.VERSION }}
            ${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_REPO }}:${{ env.GIT_SHA_SHORT }}
          target: 'pfcpsim'

  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: reuse lint
        uses: fsfe/reuse-action@v2

  fossa-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: FOSSA scan
        uses: fossa-contrib/fossa-action@v3
        with:
          fossa-api-key: 9dc8fa92e3dd565687317beb87b56d89
