# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-present Open Networking Foundation
# Copyright 2024-present Intel Corporation
name: CI Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
      actions: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/build.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}

  docker-build:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/docker-build.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}

  static-analysis:
    permissions:
      contents: read
      security-events: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/static-analysis.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}

  lint:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/lint.yml@53d4a413210952112117fc4c6e2cf384f09188af # v0.0.2
    with:
      branch_name: ${{ github.ref }}

  hadolint:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/hadolint.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}

  license-check:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/license-check.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}

  fossa-scan:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/fossa-scan.yml@53d4a413210952112117fc4c6e2cf384f09188af # v0.0.2
    with:
      branch_name: ${{ github.ref }}

  unit-tests:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/unit-test.yml@53d4a413210952112117fc4c6e2cf384f09188af # v0.0.2
    with:
      branch_name: ${{ github.ref }}
      test_flags: "-race -covermode=atomic -run=^Test -v"

  analysis:
    if: github.repository_owner == 'omec-project'
    permissions:
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    uses: omec-project/.github/.github/workflows/scorecard-analysis.yml@453e42d23f0366133ec7c053ee92a97f374f3ac5 # v0.0.1
    with:
      branch_name: ${{ github.ref }}
